*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
body{
    background-image: url(https://cdn.discordapp.com/attachments/1111907812491145289/1111908198534885406/SENI_SECTIM_.gif);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

